{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container bg-dark">
    <div class="row">
        <div class="col-5">
            {% if videojuego.portada %}
            <img src="{{ videojuego.portada.url }}" class="rounded img__portada">
            {% endif %}
        </div>
        <div class="col align-self-center">
            <div class="container text-center text-white fs-5">
                <h1 class="fs-0">{{ videojuego.titulo }}</h1>
                <hr>
                <p class="">Desarrolladora: {{ videojuego.desarrolladora }}</p>
                <p">Plataformas Disponibles:</p>
                <p class="">{{ videojuego.plataformas }}</p>
                <p>{{ videojuego.descripcion }}</p>
            </div>

            <p class="text-center text-white fs-3 fw-bold mt-0">MXN${{ videojuego.precio }}</p>
            {% if user.is_authenticated %}
            <div class="d-grid gap-2">
                <div id="paypal-button-container"></div>
            </div>
            {% endif %}
            <div class="d-grid gap-2 mt-2">
                <button type="button" class="btn btn-outline-danger" onclick="regresar()">
                    Regresar
                </button>
            </div>
            
        </div>
    </div>
</div>

<hr>
{% if user.is_authenticated %}
<h4>Agregar un comentario</h4>
<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">Guardar</button>
</form>
{% else %}
<p>Inicie sesión para dejar un comentario</p>
{% endif %}

<h4>Comentarios</h4>
{% for comentario in videojuego.comentario_set.all %}
    <p>{{ comentario.autor }} &middot; {{ comentario }}</p>
{% endfor %}
{% endblock contenido %}

{% block scripts %}
<script src="https://www.paypal.com/sdk/js?client-id=AY46deOOBROvVGtq7kfcm4_yPVBp0Mu16MeKOsn7FAT9paL3ZFps7lSYU9y33X0ktxR24Pc_PnXWyR8C&currency=USD&disable-funding=credit"></script>
    <script>
        var total = '{{ videojuego.precio }}'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                color: 'gold',
                shape: 'rect',
            },

            // Set up the transaction, LANZA EL CHECKOUT DEFAULT DE PAYPAL
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value:  parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction, FINALIZA LA COMPRA
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Show a success message to the buyer
                    //submitFormData()
                });
            }
    }).render('#paypal-button-container');
    </script>
{% endblock scripts %}